body {
    margin: 0;
    background-color:black;
  }
  
  #my-canvas {
    background-color: darkgray;
  }
  
  #start, #restart {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: -199px;
    border-radius: 5px; 
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #game-screen, #gameover-screen {
    display: none 
  }

 #score {
  background-color: white;
  color: black;
  padding: 1px;
  font-size: 20px;
  margin-top: 800px;
  border-radius: 3px; 
  padding-left: 30px;
  padding-right: 30px;

 }